echo "react-budget-app/" >> .gitignore
echo ".ipynb_checkpoints/" >> .gitignore
echo "senior_job/" >>.gitignore
echo "streamlit_tutorial_b/">>.gitignore
echo "02.ipynb/">> .gitignore
echo "car_evaluation.csv/">> .gitignore
echo "02.ipynb/">> .gitignore
echo "testa.ipynb/">> .gitignore
git rm -r --cached testa.ipynb

